{% extends 'base2.html.twig' %}

{% block title %}Salut BlogController!{% endblock %}

{% block body %}

<section class="articles">
    articles>h2{titre de l'article}+div.metadata{écrit le 01/01/2019à 20h00 dans la catégorie 
    littétarature}+div.content>img+(blabla)+a.btn.btn-primary{lire la suite}
    </h2>

</section>
{% endblock %}
