{% extends 'base2.html.twig' %}

{% block title %}Salut BlogController!{% endblock %}

{% block body %}

<section class="articles">
    
    <articles>
        <h2>titre de l'article</h2>
        <div class="metadata">écrit le 01/01/2019 à 20h00 dans la catégorie 
            littétarature</div>
        <div class="content">
            <img src="http://placehold.it/350*150" alt="">
            <blabla></blabla>
            <a href={{ path('blog_show') }} class="btn btn-primary">lire la suite</a>
        </div>
    </articles>
    
</section>
{% endblock %}
