{% extends "base2.html.twig" %}
{% block body %}
    <articles>
        <h2>titre de l'article</h2>
        <div class="metadata">écrit le 01/01/2019 à 20h00 dans la catégorie 
            littétarature</div>
        <div class="content">
            <img src="http://placehold.it/350*150" alt="">
            <blabla></blabla>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt sapiente magnam voluptatem quidem accusamus cumque dicta s
            ed, nihil ratione ipsam non rerum debitis tempora 
            beatae quaerat accusantium ad doloribus ex.</p>
            <p>Quo deserunt iusto debitis nulla consectetur, neque incidunt repudiandae aut, officia 
            cupiditate doloribus ipsam ea, perferendis hic dolorem magni. Quo deserunt odit earum placeat quisquam repellendus nulla 
            aspernatur, rem tempore?</p>
        </div>
    </articles>
    
{% endblock %}